html {
    background-color: #00539F;
  }
  .container{
      /* align-items: center; */
      /* position:absolute; */
      margin:0 auto;
      /* width:50px; */
      padding:0px 50px;
      align-content: center;
      background:blueviolet;
  }

  .cal{
    position: relative;
    margin:0 auto;
    padding:10px;
    /* background:rgb(153, 149, 145); */
    /* border:groove; */
    /* border-radius:20px; */
    width:35%;
    color:white;

  }

  .cal .theme-switcher{
      float:right;
  }

  .switch{
      border:groove;
      padding:0px 10px;
      border-radius:20px;
      


  }
  .output{
      background-color:lightslategray;
      padding:0px 10px;
      height:auto;
      margin:0px 10px;
      border-radius:10px;
  }
  .output h1{
      padding:10px;
      text-align:right;
  }

  .input{
    background-color:lightslategray;
    padding:0px 10px;
    height:auto;
    margin:0px 10px;
    border-radius:10px;
    display:flex;
    flex-wrap:wrap;
      flex-direction:row-reverse;

  }

  .input button{
      padding:20px;
      margin:10PX;
      border-radius:10px;
      border-bottom: 10px;
      width:80px;
      text-algin:center;
  }
.input .bigB{
   order: 1;
   flex: 1 0 100%;
    
}
.bigB button{
  margin:0px auto;
  width:40%;
  padding:0px 
  
}
.reset{
   order: -1;
   flex: 1 0 100%;
  background-color:gray;
  color:white;
  padding:20px;
 
  
 
  
  
}
.equal{
  background-color:red;
  color:white;
}



